/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a:hover,
a:focus {
    text-decoration: none !important;
}


/*  字型  */

 .flex-container {
  display: flex | inline-flex;
}




/*打字用到的效果*/

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


/*躁點背景效果*/

@keyframes noise {
  0% {
        transform: translate(0)
    }
    10% {
        transform: translate(-5%, -5%)
    }
    20% {
        transform: translate(-10%, 5%)
    }
    30% {
        transform: translate(5%, -10%)
    }
    40% {
        transform: translate(-5%, 15%)
    }
    50% {
        transform: translate(-10%, 5%)
    }
    60% {
        transform: translate(15%)
    }
    70% {
        transform: translateY(10%)
    }
    80% {
        transform: translate(-15%)
    }
    90% {
        transform: translate(10%, 5%)
    }
    to {
        transform: translate(5%)
    }
}

/*從右邊淡入*/

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}




/*Menu overlay CSS*/
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.menu_container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.menu_container p {
  font-size: 20px;
}
header .container a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #FF5252;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}
header .container a:after {
  content: "";
  position: absolute;
  background: #FF5252;
  height: 2px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: 0.35s ease;
}
header .container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}

.index_sec h1 {
  position: relative;
  text-align: center;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 80px;
  height: 60px;
  color: #7d7119;
}



/*打字*/
.typing-demo {
  width: 10ch;
  animation: typing 4s steps(10), blink .6s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #7d7119;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 64px;
  margin: 0 auto;
}


.index_sec p{
  max-width:400px; 
  overflow: hidden;
  font-family: monospace;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 20px;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #515208;/*#FF5252;*/
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #515208; /*#FF5252;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 99;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 42px;
  /*font-family: "Vollkorn", serif;*/
  font-family: monospace, serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  overflow: hidden;
  /*以下是給hover用的*/
    background-image: linear-gradient(180deg,transparent 20%,#7d7d25 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: background-size .2s ease;
    transition: background-size .4s ease;
    background-position-y: -5px;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
/*.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: 0.35s;
}
*/
 .overlay ul li a:hover{
    background-size: 100% 100%;
    cursor: pointer;
    color: #fff;
 }




/*noise background CSS*/

.noise:after {
  background-image: url("https://i.postimg.cc/W4pCBbz0/noise.png");
  content: "";
  width: 300%;
  height: 300%;
  position: absolute;
  top: -50%;
  left: -50%;
  animation: noise 1s infinite;
}





/*產品頁面的CSS*/

.project_top{
  background: #f7f7ec;
  width: 100%;
  height: 400px;
  text-align: center;
}

.project_title{
  position: relative;
    text-align: left;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 120px;
    color: #222;/*#7d7119;*/
    padding: 2%;
}


.pro_title{
  background: #f7f7ec;
  width: 100%;
  height: 80px;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 36px;
  font-weight: 500; 
}


.cardset{
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(94,98,115,.15);
  /*background: url(../images/project_1.jpg)no-repeat center center;*/
  background-size: cover;
  border-radius: 20px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  margin: 20px 0;
}

.cardset:hover{
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.15);
  /*cursor: pointer;*/
}

.project_1{
  background: url(../images/project_1.jpg)no-repeat center center;
}

.project_2{
  background: url(../images/project_2.jpg)no-repeat center center;
}

.project_3{
  background: url(../images/project_3.jpg)no-repeat center center;
}

.project_4{
  background: url(../images/project_4.jpg)no-repeat center center;
}

.project_5{
  background: url(../images/project_5.jpg)no-repeat center center;
}

.project_6{
  background: url(../images/project_6.jpg)no-repeat center center;
}



.project_name{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 22px;
  font-weight: 500; 
  top: 58%;
  position: relative;
  cursor: default;
}


.card_btn{
  color: #555;
  font-family: monospace;
  font-size: 20px;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.1), 0 55px 50px -35px rgba(0, 0, 0, 0.1);
  top: 65%;
  position: relative;
}

.card_btn:hover{
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
}


.project_top h1{
  color: #222;
  font-family: 'Potta One', cursive;
  font-size: 50px;
  padding: 10%;
}




@media only screen and (max-width: 480px) {
  .index_sec p{
    max-width:360px;
    font-size: 16px;
  }
}


